link(rel='stylesheet', type='text/css', href='https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css')
link(rel="stylesheet", type='text/css', href="https://cdnjs.cloudflare.com/ajax/libs/dplayer/1.23.0/DPlayer.min.css")